# Залежності (вони важать багато і встановлюються через npm install)
node_modules/

# Файли конфігурації з токенами (СЕКРЕТНО!)
.env

# База даних (краще зберігати її локально, а не в хмарі)
*.db
*.db-journal

# Твій файл з промокодами (який ти виніс окремо)
promos.json

# Логи помилок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системні файли Arch Linux/macOS
.DS_Store
Thumbs.dbgit status

oldversion.txt